.course-div-container{
  margin-top: 2rem;
  width: 23%;
  height: 25rem;
  display: inline-block;
  margin-left: 5rem;
  border-radius: 2rem;
}
.img-course{
  position: center;
  margin-left: 3rem;
}
.div-img-course{
  background: #e0e0e0;
  height: 12rem;
}
.text-name-container{
  color: black;
  margin-left: 1rem;
  font-size: 25px;
}
.text-in-container{
  font-size: 20px;
  margin-left: 10px;
  margin-top: 13px;
}
button{
  background: #4c7ee0;
  color: white;
  font-size: 20px;
  float: right;
  margin-right: 1rem;
}
hr{
  margin: 5%;
}
