nav{
  background: #63b175;
  width: 100%;
}
span{

}
.nav-item{
  display: inline-block;

}
.nav-link{
  margin-left: 7rem;
  font-size: 2rem;
  text-decoration-line: none;
  color: white;
  font-family: Arial;
}
.link-center{
  margin-left: 2rem;
  font-size: x-large;
}
.active{
  height: 50px;

}
.LogIn{
  float: right;
  padding-right: 10px;
  font-size: x-large;
  font-family: "Times New Roman";
  padding-top: 5px;
}
.center-class{
  margin-left: 6rem;
}
