.Name-Start{
  margin-left: 20rem;
  font-size: 40px;
  font-family: "Fira Code";
}
.visible{
  background: #4c7ee0;
  color: white;
  font-size: large;
  font-family: "Century Gothic";
  float: right;
}

