<body>
.
<div class="center-author">
  <div class="social-connect">
    <div class="social-connect-div">
      <div class="span-social-connect">Connect with Facebook</div>
      <br>
      <div class="span-social-connect">Connect with Google</div>
      <br>
      <div class="span-social-connect">Connect with Vk</div>
      <br>
    </div>
  </div>
  <div class="footer-Login-Signin">

    <div class="button-click-registration">
      <button><a href="/Registration">Sign In</a></button>
    </div>
    <div class="button-click-registration">
      <button><a href="/Log">Log In</a></button>
    </div>
  </div>
</div>
<br>
a
<br>
a
</body>
