.Main-container{
  width: 40%;
  height: 15rem;
  background: #63b175;
  display: inline-block;
  margin-left: 5rem;
  margin-top: 2rem;
  border-radius: 2rem;
}
.image-main-container{
  width: 35%;
  height: 90%;
  margin: 3%;
}
.main-div-container{
  display: inline-block;

}
.text-main-container{
  font-family: Arial;
  font-size: x-large;
  width: 57%;
  height: 90%;
  color: white;
}
.text-course{
  font-size: smaller;
  color: white;
}
.link-empty{
  text-decoration-line: none;
  color: white;
}
