nav{
  background: #63b175;
  width: 100%;
}

.nav-item{
  display: inline-block;
}
.nav-link{
  margin-left: 7rem;
  font-size: 2rem;
  text-decoration-line: none;
  color: white;
  font-family: Arial;
}
.nav-link:hover{
  color: black;
}
.link-center{
  margin-left: 2rem;
  font-size: x-large;
}
.active{
  height: 50px;

}
.LogIn{
  float: right;
  padding-right: 10px;
  font-size: x-large;
  font-family: "Times New Roman";
  padding-top: 5px;
}
.center-class{
  margin-left: 6rem;
}
.sr-only{
  font-size: 13px;
  color: white;
}



/*.course-container{
  margin-left: 2rem;
}
.text-from-component{
  margin-left: 40%;
  border: 3px solid black;
  width: 15rem;
  text-align: left;
  padding-left: 10px;
  border-radius: 10px;
  font-size: 20px;
}
.text-from-component-input{
  height: 30px;
  width: 90%;
  margin-left: 5%;
}
.button-push{
  background: #4c7ee0;
  height: 20px;
  width: 50px;
  float: right;
  margin-right: 5px;
}
.button-push :hover{
  background: red;
}
*/
