<router-outlet>
<nav>
  <ul>
    <li class="nav-item active">
      <span class="sr-only"> Time : {{ toDate | date: 'hh:mm a'}}</span>
      <a class="nav-link" routerLink="">Baedung
      </a>
    </li>
    <li class="nav-item center-class">
      <a class="nav-link link-center" routerLink="Home">Home</a>
      <a class="nav-link link-center" routerLink="Start">Start Course</a>
      <a class="nav-link link-center" routerLink="Info">Features</a>
    </li>
    <li class="nav-item LogIn">
      <a class="nav-link LogIn" routerLink="LogIn">LogIn</a>
    </li>
  </ul>
</nav>
</router-outlet>
<!--<app-header></app-header>
<br>
<div class="text-from-component">
  <input class="text-from-component-input" type="text" [(ngModel)]="ChildData" (ngModelChange)="OnChange($event)"> {{" > "+ChildData}}

</div>
<br> <app-main-container></app-main-container>
<app-main-container></app-main-container>
<app-course-container class="course-container" [ChildData]="ChildData"></app-course-container>
<app-course-container class="course-container"></app-course-container>
<app-course-container class="course-container"></app-course-container>
<app-course-container class="course-container"></app-course-container>
<app-course-container class="course-container"></app-course-container>
<app-course-container class="course-container"></app-course-container>
-->
