<app-header></app-header>
<br>
<div class="text-from-component">
  <input class="text-from-component-input" type="text" [(ngModel)]="ChildData" (ngModelChange)="OnChange($event)"> {{" > "+ChildData}}

</div>
<br>
<app-main-container></app-main-container>
<app-main-container></app-main-container>
<app-course-container class="course-container" [ChildData]="ChildData"></app-course-container>
<app-course-container class="course-container"></app-course-container>
<app-course-container class="course-container"></app-course-container>
<app-course-container class="course-container"></app-course-container>
<app-course-container class="course-container"></app-course-container>
<app-course-container class="course-container"></app-course-container>
