
<br>
<app-main-container></app-main-container>
<app-main-container></app-main-container>
<app-course-container class="course-container"></app-course-container>
<app-course-container class="course-container"></app-course-container>
<app-course-container class="course-container"></app-course-container>
<app-course-container class="course-container"></app-course-container>
<app-course-container class="course-container"></app-course-container>
<app-course-container class="course-container"></app-course-container>

